In [29]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/employee/employee__1_.xls

In [32]:
!pip install openpyxl
!pip install xlrd
os.listdir('/kaggle/input/employee')

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.7/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.7/site-packages (from openpyxl) (1.1.0)
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 369 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv

['employee__1_.xls']

In [63]:

df = pd.read_excel('/kaggle/input/employee/employee__1_.xls',converters={'Date of Joining':str,'Date of Birth':str})

In [98]:
from datetime import datetime

x =[]
for d in df["Date of Birth"]:
    if "/" in d:
        x.append(datetime.strptime(d, "%m/%d/%Y").strftime("%Y-%m-%d"))
    else:
        x.append(datetime.strptime(d,"%Y-%m-%d %H:%M:%S" ).strftime("%Y-%m-%d"))

In [99]:
y=[]
for d in df["Date of Joining"]:
    if "/" in d:
        y.append(datetime.strptime(d, "%m/%d/%Y").strftime("%Y-%m-%d"))
    else:
        y.append(datetime.strptime(d,"%Y-%m-%d %H:%M:%S" ).strftime("%Y-%m-%d"))

In [103]:
df.drop(columns =['Date of Joining', 'Date of Birth'])

,Emp ID,First Name,Last Name,Gender,Father's Name,Mother's Name,Mother's Maiden Name,Quarter of Joining,Place Name,County,City,State,Zip,User Name
0,677509,Lois,Walker,F,Donald Walker,Helen Walker,Lewis,Q4,Denver,Denver,Denver,CO,80224,lhwalker
1,940761,Brenda,Robinson,F,Raymond Robinson,Judy Robinson,Perry,Q3,Stonewall,De Soto,Stonewall,LA,71078,bsrobinson
2,428945,Joe,Robinson,M,Scott Robinson,Stephanie Robinson,Taylor,Q3,Michigantown,Clinton,Michigantown,IN,46057,jwrobinson
3,408351,Diane,Evans,F,Jason Evans,Michelle Evans,Allen,Q2,Hydetown,Crawford,Hydetown,PA,16328,dievans
4,193819,Benjamin,Russell,M,Gregory Russell,Elizabeth Russell,Nelson,Q3,Fremont,Waupaca,Fremont,WI,54940,brrussell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,639892,Jose,Hill,M,Carlos Hill,Anna Hill,Hayes,Q3,Biloxi,Harrison,Biloxi,MS,39532,jkhill
96,704709,Harold,Nelson,M,Richard Nelson,Pamela Nelson,Smith,Q3,Carol Stream,Carol Stream,Carol Stream,IL,60351,hznelson
97,461593,Nicole,Ward,F,Ralph Ward,Julia Ward,Lee,Q1,Detroit,Wayne,Detroit,MI,48278,noward
98,392491,Theresa,Murphy,F,George Murphy,Jacqueline Murphy,Peterson,Q3,Mc Grath,Yukon-Koyukuk (CA),Mc Grath,AK,99627,trmurphy
99,495141,Tammy,Young,F,Andrew Young,Brenda Young,Robinson,Q2,Alma,Gratiot,Alma,MI,48801,tbyoung

In [107]:
df["Date of Joining"]=y

In [108]:
df["Date of Birth"]=x

In [122]:
gb = df.groupby("Quarter of Joining")

In [142]:
for key, value in gb:
    print(key)
    print(value.sort_values(by="Date of Birth", ascending=True))

Q1
    Emp ID First Name   Last Name Gender      Father's Name  \
7   380086      Carol      Murphy      F      Eugene Murphy
52  525955       Judy    Gonzales      F     Kevin Gonzales
18  890290      Julia       Scott      F     Lawrence Scott
58  491943      Nancy      Howard      F     Gregory Howard
71  478003    Cynthia       White      F     Nicholas White
44  407061  Elizabeth     Jackson      F      Scott Jackson
97  461593     Nicole        Ward      F         Ralph Ward
78  806955    William   Hernandez      M    Peter Hernandez
27  683826      Roger     Roberts      M    Antonio Roberts
61  241882      Debra        Wood      F        Martin Wood
91  867084    Deborah       Smith      F      Richard Smith
94  489424    Phillip       White      M       Harold White
69  732017    Cynthia     Ramirez      F     Walter Ramirez
82  761821     Ernest  Washington      M  Johnny Washington
68  293459     Steven    Phillips      M     Jason Phillips
9   162402      Diana    Peterson      F  Jonathan Peterson
50  958326      Larry      Miller      M     Russell Miller
46  702813     Ernest    Martinez      M      Ryan Martinez
26  263480     Daniel      Cooper      M       Louis Cooper
77  870820     Martha  Washington      F    Todd Washington
55  253573     Sharon       Lopez      F       Daniel Lopez
17  214352    Theresa         Lee      F           John Lee
56  904898        Ann      Cooper      F      Harold Cooper
21  969580    Matthew      Turner      M        Jose Turner
63  940922    Melissa      Butler      F      Robert Butler
11  153989       Jack   Alexander      M   Samuel Alexander

         Mother's Name Mother's Maiden Name Date of Birth Date of Joining  \
7     Katherine Murphy             Peterson    1958-06-30      1983-01-28
52     Sharon Gonzales                Perez    1959-06-17      1992-03-01
18           Amy Scott                 King    1959-07-15      2005-02-23
58      Mildred Howard               Flores    1961-05-05      1999-06-02
71     Katherine White               Turner    1963-06-15      2004-04-03
44   Catherine Jackson              Jackson    1964-08-15      2005-01-19
97          Julia Ward                  Lee    1964-12-12      1989-01-23
78   Deborah Hernandez                Jones    1967-07-22      2000-03-21
27   Katherine Roberts               Brooks    1969-07-07      2009-01-29
61        Theresa Wood                Perry    1969-10-30      1991-10-01
91         Diana Smith              Bennett    1977-10-31      2002-04-03
94       Frances White               Carter    1978-04-03      2016-05-01
69      Evelyn Ramirez                Smith    1982-09-22      2009-02-18
82  Shirley Washington               Harris    1984-10-28      2015-01-31
68     Gloria Phillips                Lewis    1986-12-09      2015-03-27
9   Christina Peterson                 Ross    1987-11-13      2014-02-17
50      Mildred Miller                 Ward    1988-10-31      2017-02-22
46    Beverly Martinez                 Hill    1989-09-11      2016-01-24
26        Julie Cooper               Murphy    1990-01-01      2014-06-03
77  Carolyn Washington                 Reed    1991-03-28      2017-03-03
55         Susan Lopez                Hayes    1991-04-05      2014-07-03
17         Rebecca Lee               Turner    1992-05-12      2015-01-19
56      Mildred Cooper             Williams    1992-12-25      2017-02-15
21        Kathy Turner                  Cox    1993-10-26      2016-07-02
63         Anne Butler              Jackson    1994-11-14      2017-05-02
11    Sharon Alexander               Walker    1995-05-19      2017-05-01

   Quarter of Joining        Place Name            County              City  \
7                  Q1       Blanchester           Clinton       Blanchester
52                 Q1         Eatontown          Monmouth         Eatontown
18                 Q1     Primm Springs           Hickman     Primm Springs
58                 Q1              Saxe         Charlotte              Saxe
71                 Q1       Kansas City           Jackson       Kansas City
44                 Q1         Rochester         Strafford         Rochester
97                 Q1           Detroit             Wayne           Detroit
78                 Q1       Mary Esther          Okaloosa       Mary Esther
27                 Q1      Mount Vernon            Skagit      Mount Vernon
61                 Q1             Blair        Washington             Blair
91                 Q1           Atqasuk       North Slope           Atqasuk
94                 Q1          Mapleton              Lane          Mapleton
69                 Q1          Browning           Glacier          Browning
82                 Q1      Saranac Lake          Franklin      Saranac Lake
68                 Q1       Baton Rouge  East Baton Rouge       Baton Rouge
9                  Q1    Eureka Springs           Carroll    Eureka Springs
50                 Q1  East Saint Louis         St. Clair  East Saint Louis
46                 Q1         Uniontown          Crawford         Uniontown
26                 Q1           Manning              Dunn           Manning
77                 Q1            Nardin               Kay            Nardin
55                 Q1           Bartley          McDowell           Bartley
17                 Q1       Toeterville          Mitchell       Toeterville
56                 Q1             Arlee              Lake             Arlee
21                 Q1       Heathsville    Northumberland       Heathsville
63                 Q1           Maxwell           Lincoln           Maxwell
11                 Q1         Las Vegas             Clark         Las Vegas

   State    Zip     User Name
7     OH  45107      cvmurphy
52    NJ   7724    jcgonzales
18    TN  38476       jsscott
58    VA  23967      nphoward
71    MO  64133       cxwhite
44    NH   3867     eqjackson
97    MI  48278        noward
78    FL  32569   wghernandez
27    WA  98273     rlroberts
61    NE  68009        dgwood
91    AK  99791       desmith
94    OR  97453       pfwhite
69    MT  59417     cjramirez
82    NY  12983  egwashington
68    LA  70833    sjphillips
9     AR  72632    dtpeterson
50    IL  62201      ltmiller
46    AR  72955    edmartinez
26    ND  58642      dkcooper
77    OK  74646  mgwashington
55    WV  24813       selopez
17    IA  50481         tglee
56    MT  59821      aqcooper
21    VA  22473      mlturner
63    NE  69151      mxbutler
11    NV  89170   jcalexander
Q2
    Emp ID First Name Last Name Gender    Father's Name     Mother's Name  \
74  528673       Paul    Watson      M      Carl Watson       Anna Watson
8   477616    Frances     Young      F       Fred Young     Lillian Young
39  766610      Joyce   Jenkins      F   Edward Jenkins     Susan Jenkins
93  158666    Rebecca   Stewart      F    Roger Stewart     Carol Stewart
40  923947       Mary    Bryant      F    Joshua Bryant      Norma Bryant
67  316110     Jeremy   Sanchez      M   Albert Sanchez  Patricia Sanchez
19  622406     Thomas     Lewis      M       Ryan Lewis        Lois Lewis
38  726264       Carl   Collins      M   Gerald Collins   Phyllis Collins
10  231469      Ralph    Flores      M     Terry Flores   Michelle Flores
3   408351      Diane     Evans      F      Jason Evans    Michelle Evans
43  247137       Alan    Rivera      M     Bobby Rivera   Jennifer Rivera
99  495141      Tammy     Young      F     Andrew Young      Brenda Young
31  893212        Amy    Howard      F     James Howard   Virginia Howard
88  844177   Margaret     Allen      F    Michael Allen       Karen Allen
30  329752    Lillian     Brown      F       Gary Brown    Virginia Brown
41  227922     Amanda    Hughes      F       Roy Hughes    Cynthia Hughes
62  758872      Henry   Jenkins      M   Albert Jenkins   Beverly Jenkins
66  183071     Andrea    Garcia      F      Mark Garcia     Nicole Garcia
75  765850      Linda     Moore      F     Howard Moore       Diana Moore
64  917937       Todd      Hall      M      Thomas Hall     Kathleen Hall
20  979607      Carol   Edwards      F    Shawn Edwards     Susan Edwards
59  750173    Antonio   Roberts      M  Timothy Roberts     Diana Roberts
49  879753     Pamela    Wright      F     Terry Wright      Debra Wright

   Mother's Maiden Name Date of Birth Date of Joining Quarter of Joining  \
74              Bennett    1959-09-03      1995-06-26                 Q2
8                  Diaz    1959-09-06      1994-04-27                 Q2
39                Hayes    1961-08-22      2010-05-14                 Q2
93                  Cox    1961-11-08      1983-10-04                 Q2
40               Harris    1962-06-21      2004-05-20                 Q2
67                 Ross    1965-05-02      2006-02-04                 Q2
19                Price    1967-04-10      1998-07-06                 Q2
38            Rodriguez    1973-12-22      2007-09-06                 Q2
10                Moore    1975-05-02      2009-04-14                 Q2
3                 Allen    1977-04-12      1999-04-16                 Q2
43              Jackson    1978-11-12      2006-07-06                 Q2
99             Robinson    1979-03-22      2015-04-25                 Q2
31              Collins    1981-06-16      2003-01-06                 Q2
88               Morris    1981-08-09      2013-05-17                 Q2
30                 Wood    1981-12-05      2015-04-13                 Q2
41               Bryant    1982-07-29      2007-04-19                 Q2
62               Murphy    1984-06-11      2017-06-21                 Q2
66               Howard    1985-06-07      2010-04-18                 Q2
75                Smith    1991-08-18      2017-05-15                 Q2
64               Morgan    1991-08-31      2016-08-05                 Q2
20                 Gray    1994-12-14      2016-04-25                 Q2
59            Rodriguez    1995-08-27      2017-01-05                 Q2
49             Williams    1996-04-14      2017-09-06                 Q2

       Place Name          County           City State    Zip  User Name
74     Blue River           Floyd     Blue River    KY  41607   pvwatson
8         Delmita           Starr        Delmita    TX  78536    fbyoung
39      Ellsworth          Pierce      Ellsworth    WI  54011  jejenkins
93   Independence            Inyo   Independence    CA  93526  rastewart
40         Conroy            Iowa         Conroy    IA  52220   mgbryant
67          Alcoa          Blount          Alcoa    TN  37701  jisanchez
19      Dutchtown  Cape Girardeau      Dutchtown    MO  63745    tqlewis
38         Wright       Jefferson         Wright    AR  72182  cncollins
10        Sabetha          Nemaha        Sabetha    KS  66534   rlflores
3        Hydetown        Crawford       Hydetown    PA  16328    dievans
43      Knoxville            Knox      Knoxville    TN  37901   aerivera
99           Alma         Gratiot           Alma    MI  48801    tbyoung
31          Kline           Kline          Kline    SC  29814   abhoward
88  Richmond Dale            Ross  Richmond Dale    OH  45673    mtallen
30        Panacea         Wakulla        Panacea    FL  32346    lxbrown
41   Lake Charles       Calcasieu   Lake Charles    LA  70605   amhughes
62      Riverside          Platte      Riverside    MO  64150  hyjenkins
66        Granger      St. Joseph        Granger    IN  46530   apgarcia
75         Albion            Erie         Albion    PA  16401    lrmoore
64   Randallstown       Baltimore   Randallstown    MD  21133     thhall
20     Shreveport           Caddo     Shreveport    LA  71162  cjedwards
59       Mc Calla       Jefferson       Mc Calla    AL  35111  arroberts
49         Banner        Sheridan         Banner    WY  82832   pxwright
Q3
    Emp ID First Name  Last Name Gender      Father's Name  \
57  515103       Anne      Perez      F      Douglas Perez
24  560455    Carolyn      Hayes      F        Jimmy Hayes
60  687017    Frances     Watson      F        Adam Watson
29  335732     Brenda     Butler      F     Phillip Butler
2   428945        Joe   Robinson      M     Scott Robinson
15  528509      Paula       Diaz      F          Alan Diaz
80  623253       Ruby    Stewart      F       Paul Stewart
36  218791      Aaron      Price      M      Michael Price
16  912990     Joshua    Stewart      M       Todd Stewart
1   940761     Brenda   Robinson      F   Raymond Robinson
70  915638      Jason   Anderson      M   Brandon Anderson
86  533952      Kelly      Adams      F         Eric Adams
4   193819   Benjamin    Russell      M    Gregory Russell
23  388642       Ruby     Rogers      F      Ronald Rogers
92  969964     Janice     Parker      F        Paul Parker
5   499687    Patrick     Bailey      M       Ralph Bailey
37  134841      Donna      Brown      F         Adam Brown
45  226714      Nancy      Davis      F        Bruce Davis
96  704709     Harold     Nelson      M     Richard Nelson
42  265813       Jack   Campbell      M    Philip Campbell
76  262382     Cheryl     Miller      F      Gerald Miller
73  883936    Douglas     Flores      M      Justin Flores
98  392491    Theresa     Murphy      F      George Murphy
33  456747        Roy    Griffin      M   Benjamin Griffin
81  225925       Paul     Cooper      M    Nicholas Cooper
72  951225   Margaret     Brooks      F      Johnny Brooks
84  802554       Ryan  Alexander      M  William Alexander
34  278556    Richard   Mitchell      M     Peter Mitchell
32  621833    Gregory    Edwards      M       Jose Edwards
95  639892       Jose       Hill      M        Carlos Hill
6   539712      Nancy      Baker      F        Scott Baker
13  301576      Wayne     Watson      M      Ronald Watson

          Mother's Name Mother's Maiden Name Date of Birth Date of Joining  \
57          Doris Perez               Bailey    1958-05-05      2003-07-28
24           Sara Hayes               Foster    1958-10-03      2001-03-07
60         Diana Watson                Jones    1961-01-30      2010-08-20
29         Joyce Butler               Thomas    1963-06-12      1987-08-20
2    Stephanie Robinson               Taylor    1963-06-16      2016-03-08
15         Kathryn Diaz               Powell    1966-08-22      1994-08-22
80        Paula Stewart              Jackson    1968-10-23      2017-02-07
36          Diana Price               Torres    1969-10-02      1997-03-07
16       Martha Stewart                Jones    1970-05-18      2002-02-09
1         Judy Robinson                Perry    1970-07-31      2008-07-27
70       Julia Anderson                Baker    1974-03-01      1999-09-21
86         Janice Adams               Brooks    1975-05-23      2013-04-07
4     Elizabeth Russell               Nelson    1977-04-17      2013-07-25
23        Teresa Rogers            Alexander    1980-01-05      2013-08-30
92         Alice Parker                Perez    1980-12-01      2016-08-23
5          Laura Bailey            Henderson    1982-09-27      2005-07-22
37          Irene Brown                James    1983-09-14      2013-07-17
45        Jessica Davis                Moore    1983-11-14      2012-08-25
96        Pamela Nelson                Smith    1984-12-24      2011-08-23
42       Wanda Campbell               Watson    1985-04-01      2007-07-29
76     Christine Miller             Mitchell    1985-04-20      2007-07-30
73         Kathy Flores              Ramirez    1986-04-21      2009-10-09
98    Jacqueline Murphy             Peterson    1987-12-30      2010-03-08
33        Wanda Griffin              Simmons    1991-08-05      2012-08-23
81         Helen Cooper                 Hill    1991-12-08      2014-08-09
72         Debra Brooks             Robinson    1992-06-27      2016-08-26
84  Elizabeth Alexander                 Gray    1993-01-08      2014-08-31
34      Andrea Mitchell               Flores    1993-07-28      2016-08-18
32        Helen Edwards               Howard    1993-08-31      2015-09-30
95            Anna Hill                Hayes    1994-08-10      2016-09-07
6            Judy Baker               Thomas    1995-06-13      2016-09-14
13      Margaret Watson                Hayes    1996-06-26      2017-07-19

   Quarter of Joining               Place Name              County  \
57                 Q3               Cookeville              Putnam
24                 Q3              Saint Cloud             Osceola
60                 Q3                    Trego             Lincoln
29                 Q3                     Mesa            Maricopa
2                  Q3             Michigantown             Clinton
15                 Q3               Beulaville              Duplin
80                 Q3                   Margie         Koochiching
36                 Q3                  Eckerty            Crawford
16                 Q3              New Douglas             Madison
1                  Q3                Stonewall             De Soto
70                 Q3                   Hudson              McLean
86                 Q3                     Meno               Major
4                  Q3                  Fremont             Waupaca
23                 Q3                 Woodbury              Cannon
92                 Q3  Whiteman Air Force Base             Johnson
5                  Q3                Macksburg             Madison
37                 Q3                     Lima          Livingston
45                 Q3            Bowling Green                Clay
96                 Q3             Carol Stream        Carol Stream
42                 Q3                 Kalvesta            Kalvesta
76                 Q3                     Bays           Breathitt
73                 Q3                   Eckert               Delta
98                 Q3                 Mc Grath  Yukon-Koyukuk (CA)
33                 Q3                  Liberty               Union
81                 Q3                  Glidden            Colorado
72                 Q3                  Haswell               Kiowa
84                 Q3                  Jarreau       Pointe Coupee
34                 Q3                 Ohatchee             Calhoun
32                 Q3                  Bonanza             Klamath
95                 Q3                   Biloxi            Harrison
6                  Q3                  Atlanta              Fulton
13                 Q3                    Maida            Cavalier

                       City State    Zip    User Name
57               Cookeville    TN  38505      aaperez
24              Saint Cloud    FL  34771      cvhayes
60                    Trego    MT  59934     fpwatson
29                     Mesa    AZ  85208     bmbutler
2              Michigantown    IN  46057   jwrobinson
15               Beulaville    NC  28518       pgdiaz
80                   Margie    MN  56658    rqstewart
36                  Eckerty    IN  47116      anprice
16              New Douglas    IL  62074    jtstewart
1                 Stonewall    LA  71078   bsrobinson
70                   Hudson    IL  61748   jwanderson
86                     Meno    OK  73760      kradams
4                   Fremont    WI  54940    brrussell
23                 Woodbury    TN  37190     rrrogers
92  Whiteman Air Force Base    MO  65305     jsparker
5                 Macksburg    IA  50155     pfbailey
37                     Lima    NY  14485      drbrown
45            Bowling Green    IN  47833      nldavis
96             Carol Stream    IL  60351     hznelson
42                 Kalvesta    KS  67856   jecampbell
76                     Bays    KY  41310     comiller
73                   Eckert    CO  81418     diflores
98                 Mc Grath    AK  99627     trmurphy
33                  Liberty    IN  47353    rzgriffin
81                  Glidden    TX  78943     pdcooper
72                  Haswell    CO  81045     mnbrooks
84                  Jarreau    LA  70749  rvalexander
34                 Ohatchee    AL  36271   rymitchell